main {
  position: relative;
  flex: 1;
  display: grid;

  width: calc(100% - var(--sidebar-width));
  margin-left: auto;

  background-color: var(--bg-color);

  transition: width var(--transition-speed) var(--easing);

  @media (width <= 48rem) {
    width: 100%;
  }
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  /* .container__box {
    width: 100%;
    height: 100%;
    overflow: hidden;
  } */

  .container__preloader {
    position: absolute;
    inset: 1rem 0 0 1rem;
  }
}

.description {
  position: absolute;
  top: 1rem;
  left: 2rem;

  font-weight: 500;
  z-index: 1;
}
