@import 'theme.css';

:root {
  --primary-color: #111113;
  --secondary-color: #333;
  --bg-color: #222;
  --text-color: #fff;
  --font-family: 'Poppins', sans-serif;

  --sidebar-width: 300px;
  --transition-speed: 0.5s;
  --easing: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
